@use "variables" as v;
@use "mixins";

// Layout title section
.content--title {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: v.$backprimary;
  padding-bottom: 20px;
  @include mixins.tablet {
    align-items: end;
    width: 50%;
  }
  @include mixins.desktop {
    &__width {
      width: 80%;
    }
    width: 50%;
  }
}

// Title of section
.content__title {
  padding-top: 1rem;
  &--title {
    padding: 20px;
    margin: 0px 10px 0px 10px;
    text-align: center;
    position: relative;
  }
  &--title::after,
  &--title::before {
    content: "";
    position: absolute;
    pointer-events: none;
    border: solid 4px;
    border-color: white;
  }
  &--title::after {
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    border-left: none;
    border-right: none;
  }
  &--title::before {
    top: 15px;
    bottom: 15px;
    left: 0;
    right: 0;
    border-top: none;
    border-bottom: none;
  }
}

// display portfolio
.card--info {
  margin: 0px 10px 0px 10px;
  @include mixins.card--info;
}

.card--info {
  min-height: 100px;
  padding: 10px 20px;
  position: relative;
}

.card--info::after,
.card--info::before {
  content: "";
  position: absolute;
  pointer-events: none;
  border: solid 4px;
  border-color: white;
}

.card--info::after {
  left: 15px;
  right: 15px;
  top: 0;
  bottom: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.card--info::before {
  top: 15px;
  bottom: 15px;
  left: 0;
  right: 0;
  border-top: none;
  border-bottom: none;
}
