@use "variables" as v;
@use "mixins";

// Layout title section
.content--left {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mixins.tablet {
    align-items: end;
    width: 40%;
  }
  @include mixins.desktop {
    &__width {
      width: 80%;
    }
    width: 40%;
  }
}

// Title animation
.reveal--left {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s ease;
}

.reveal--left.active {
  transform: translateX(0);
  opacity: 1;
}
