@use "variables" as v;
@use "mixins";

.footer {
  background-color: v.$backprimary;

  @include mixins.footer;

  --mask: conic-gradient(
      from 127.5deg at top,
      #0000,
      #000 1deg 104deg,
      #0000 105deg
    )
    50%/2.61em 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
