@use "variables" as v;
@use "mixins";

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: v.$backprimary;
  &__section {
    display: flex;
    flex-direction: column;
    width: 90%;
    &--heading {
      font-size: 50px;
      font-weight: 500;
      padding: 0;
      margin: 0;
    }
    &--text {
      font-size: 23px;
    }
  }
  @include mixins.tablet {
    &__section {
      display: flex;
      flex-direction: column;
      width: 90%;
    }
  }
}
