$backprimary: rgb(125, 209, 129);
$backsecondary: rgba(125, 209, 129, 0.358);
// colors
$primary: black;
$secondary: black;
$bg-nav: rgba(125, 209, 129, 0.199);

// menu-animation
$menu-animation: cubic-bezier(1, 0, 0, 1);
