$backprimary: rgb(125, 209, 129);
$backsecondary: rgba(75, 149, 79, 0.358);
// colors
$primary: black;
$secondary: black;
$bg-nav: rgba(32, 131, 37, 0.439);

// menu-animation
$menu-animation: cubic-bezier(1, 0, 0, 1);
